/.phpunit.cache
/bootstrap/cache/*
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
/storage/pail
/vendor
.editorconfig
.env
.env.backup
.env.production
*.log
*.cache
*.tmp
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
